{# templates/event/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Modifier un évènement
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Modifier un évènement</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}

{% endblock %}